{% extends "base_generic.html" %}

{% block content %}

<h2>{{ curso.nome }}/{{curso.matriz}} </h2>
<p>
    {% if curso.is_active %} Curso Ativo {% else %} Curso desativado {% endif %}
</p>

<button class="btn btn-success update-confirm"><a href="{{ curso.get_absolute_url }}update">Editar</a></button>
<form action="{% url 'curso:curso-delete' curso.slug %}" method="post", onsubmit="window.ConfirmDelete()" class="delete-form">
    {% csrf_token %}
    <input type="hidden" name="curso_id" value="{{ curso.id }}" />
    <button type="submit" class="btn btn-danger">
        Delete
    </button>
</form>


</div>
{% endblock %}
