{% extends "base_generic.html" %}

{% block content %}
    <h1>Cursos</h1>
  <a href="{% url 'curso:curso-create' %}">Novo curso</a> 
    {% if curso_list %}
    <ul>

      {% for curso in curso_list %}
      <li>
        <a href="{{ curso.get_absolute_url }}">{{ curso.nome }}/{{curso.matriz}}</a>
        - {% if curso.is_active %}Ativo{% else %}Desativado{% endif %}
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>Não há cursos cadastrados</p>
    {% endif %} 
  
{% endblock %}

