{% extends "base_generic.html" %}

{% block content %}
<h1>Disciplinas</h1>
{% comment %} <p><a href="">Nova disciplina</a></p> {% endcomment %}

{% if disciplina_list %}
  <ul>
  {% for disciplina in disciplina_list %}
    <li>
      <a href="{{ disciplina.get_absolute_url }}">{{ disciplina.codigo }} {{disciplina.nome}}</a>
      {% for curso in disciplina.curso.all %}
       {{ curso }}
      {% endfor %}
    </li>
  {% endfor %}
  </ul>

{% else %}
  <p>There are no cursos cadastrados.</p>
{% endif %}
{% endblock %}