{% extends "admin/base_site.html" %}
{% block extrastyle %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div>{{ form.field }}
        <label for="homologada" class="">
            Alterar status das solicitações selecionadas para:<br>
        </label>
        {{ form.homologada }}
        </div>
    
    <table class='table table-striped table-hover table-responsive'>
        <thead>
            <tr>
                <th>Curso</th>
                <th>Solicitante</th>
                <th>Disciplina</th>
                <th>Status atual</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitacao in solicitacao_list %}
            <tr>
                <input type="hidden" name="_selected_action" value="{{ solicitacao.pk }}" />
                <td>{{ solicitacao.solicitante.curso.abreviacao }}</td>
                <td>{{ solicitacao.solicitante }}</td>
                <td>{{ solicitacao.disciplina }}</a></td>
                <td>{{ solicitacao.get_homologada_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="hidden" name="action" value="homologar" />
    <input type="submit" name="apply" value="Confirmar" />
    <a href="#" class="btn btn-secondary cancel-link">Cancelar</a>

</form>
{% endblock %}