{% extends "base_generic.html" %}

{% block content %}

{{ formset.media.css }}
{{ formset.media }}

<p>Atribuidos a mim</p>
<form action="" method="post">
{% csrf_token %}
{{ formset.management_form }}
<table class='table table-striped table-hover table-responsive'>
    <thead>
      <tr>
        <th>Curso</th>
        <th>Solicitante</th>      
        <th>Disciplina</th>      
        <th> {{ formset.form.nota.label }}</th>       
      </tr>
    </thead>
    <tbody>
    {% for form in formset %} 
    {% if form.instance.avaliador == user %}
    
    <tr>
          {{ form.id }}         

          <td> {{ form.instance.solicitacao.solicitante.curso }} </td>
          <td> {{ form.instance.solicitacao.solicitante }}</td>                  
          <td> {{ form.instance.solicitacao.disciplina }}</td>                  
          <td> {{ form.nota }}</td>
          <td>{{ form.nota.errors }} </td>
        </tr> 
        {% endif %}  
    {% endfor %} 
    </tbody> 
 </table>  
    <p>Outros</p> 
    <table class='table table-striped table-hover table-responsive'>
    <thead>
      <tr>
        <th>Curso</th>
        <th>Solicitante</th>      
        <th>Disciplina</th>      
        <th> {{ formset.form.nota.label }}</th>       
      </tr>
    </thead>
    <tbody>
       {% for form in formset %} 
    {% if form.instance.avaliador != user %}
       <tr>
          {{ form.id }}
          <td> {{ form.instance.solicitacao.solicitante.curso }} </td>
          <td> {{ form.instance.solicitacao.solicitante }}</td>                  
          <td> {{ form.instance.solicitacao.disciplina }}</td>                  
          <td> {{ form.nota }}</td>
          <td> </td>
        </tr>
         
  
  {% endif %}  
    {% endfor %}  
      </tbody> 
 </table>  
<input type="submit" value="Confirmar" class="btn btn-success"></form>

{% endblock content %}