{% extends "base_generic.html" %}

{% block content %}
<h1>Solicitações {% if view.kwargs.slug and solicitacao_list %} em {{solicitacao_list.0.semestre_solicitacao}}
  {% endif %}</h1>

<p><a href="{% url 'cc:solicitacao-create' %}">Nova solicitação</a>
  {% if view.kwargs.slug %}
  <a href="{% url 'cc:manage_homologacoes' slug=view.kwargs.slug %}">Homologar solicitações</a>
  <a href="{% url 'cc:manage_ausentes' slug=view.kwargs.slug %}">Ausentes</a>
  <a href="{% url 'cc:manage_avaliadores' slug=view.kwargs.slug %}">Atribuir avaliadores</a>
  <a href="{% url 'cc:manage_resultados' slug=view.kwargs.slug %}">Resultados</a>
  <a href="{% url 'cc:disciplinas_solicitadas' slug=view.kwargs.slug %}">Por disciplina</a>
  <a href="{% url 'cc:manage_recursos' slug=view.kwargs.slug %}">Recursos</a></p>

  {% comment %} Relatórios {% endcomment %}
{% if perms.user.is_staff %}
  <p>
  <a href="{% url 'relatorio:homologado-pdf' slug=view.kwargs.slug %}">Homologados</a>
  <a href="{% url 'relatorio:resultado-pdf' slug=view.kwargs.slug %}">Resultado</a>
  <a href="{% url 'relatorio:ficha-individual-pdf' slug=view.kwargs.slug %}">Fichas individuais</a>
  <a href="{% url 'relatorio:folha-rosto-pdf' slug=view.kwargs.slug %}">Folhas de Rosto</a>
  </p>
{% endif %}

{% endif %}

{% if solicitacao_list %}
<table class='table table-striped table-hover table-responsive'>
  <thead>
    <tr>
      {% if perms.user.avaliador or perms.user.is_staff %}
      <th>Curso</th>
      <th>Solicitante</th>
      {% endif %}
      <th>Disciplina</th>
      <th>Homologado</th>
      <th>Resultado</th>
      <th>Recursos</th>
      {% if not view.kwargs.slug %}<th>Semestre de solicitação</th>{% endif %}

    </tr>
  </thead>
  <tbody>
    {% for solicitacao in solicitacao_list %}
    {% if solicitacao.solicitante.get_full_name == user.get_full_name %}
    <tr>
      <td><a href="{{ solicitacao.get_absolute_url }}">{{ solicitacao.disciplina }}</a></td>
      <td>{{ solicitacao.get_homologado_display }}</td>
      <td>{{ solicitacao.resultado.get_resultado_display }}</td>
      <td>{{ solicitacao.semestre_solicitacao }}</td>
    </tr>
    {% elif perms.user.avaliador or perms.user.is_staff %}
    <tr>
      <td>{{ solicitacao.solicitante.curso }}</td>
      <td>{{ solicitacao.solicitante }}</td>
      <td><a href="{{ solicitacao.get_absolute_url }}">{{ solicitacao.disciplina }}</a></td>
      <td><a href="{% url 'cc:homologacao-create' pk=solicitacao.pk %}">{{ solicitacao.get_homologada_display }}</a></td>
      <td><a href="{{solicitacao.resultado.get_update_url}}">{{ solicitacao.resultado.get_resultado_display }}</a></td>
      {% if solicitacao.resultado %}<td><a
          href="{% url 'cc:recurso-create' pk=solicitacao.resultado.pk %}">{{ solicitacao.resultado.solicitar_recurso }}</a>
      </td>
      {% else %} <td></td> {% endif %}
      {% if not view.kwargs.slug %}<td>{{ solicitacao.semestre_solicitacao }}</td>{% endif %}


    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>Não solicitações registradas.</p>
{% endif %}
{% endblock %}